{% extends "base.html" %}
{% block content %}

<h2>Bevor du deine Tätigkeit aufnimmst, brauchst du…</h2>

<div class="box">
… eine arbeitsplatzbezogene Sicherheitsunterweisung über die unmittelbare Tätigkeit am 
Arbeitsplatz, damit du über
<ul>
<li>spezielle Gefahren, betriebsinterne Anweisungen,</li>
<li>spezielle Arbeitsverfahren,</li>
<li>Sicherheits- und Schutzvorrichtungen,</li>
<li>persönliche Schutzausrüstung</li>
<li>Verhalten in besonderen Situationen</li>
</ul>
unterwiesen wirst.<br><br>

Die arbeitsplatzspezifische Unterweisung wird am jeweiligen Arbeitsplatz 
vom zuständigen Verantwortlichen durchgeführt.
</div>

<div class="box">
… besondere Unterweisung bei speziellen Gefahren, z. B. Tätigkeiten in 
Bereichen/Räumlichkeiten in denen du mit Gefahrstoffen in Berührung kommen kannst.<br><br>

Arbeiten in speziellen Bereichen unterliegen besonderen Vorschriften. Du wirst darüber von 
deinem Vorgesetzten informiert.
</div>
<div class="nav">
    <a href="/unterweisung/3">Weiter</a>
</div>
{% endblock %}
