{% extends "base.html" %}
{% block content %}

<h2>Grundsätzliches zum Thema Arbeitsschutz</h2>

<div class="box">
• Sicherheit am Arbeitsplatz und Schutz der Mitarbeiter vor arbeitsbedingten   
Gesundheitsgefahren haben höchste Priorität!<br><br>

• Sicherheit behindert nicht den Arbeitserfolg, sondern ist ein Kennzeichen 
für fachgerechtes Arbeiten. Deshalb gibt es keinen Gegensatz zwischen 
Arbeitsleistung und Arbeitssicherheit.<br><br>

• Sicherheit muss wesentlicher Bestandteil aller Planungen sein! Nur so sind 
ein störungsfreier Arbeitsablauf und das angestrebte Arbeitsergebnis 
zuverlässig zu erreichen.
</div>
<div class="nav">
    <a href="/unterweisung/4">Weiter</a>
</div>
{% endblock %}
