{% extends "base.html" %}
{% block content %}

<h2>Gesetze zum Arbeitsschutz</h2>

<div class="box">
<p>
In Deutschland gibt es eine Vielzahl von Gesetzen und Verordnungen, 
die die Arbeitssicherheit zum Thema haben. Sie schreiben vor, wie die 
Arbeitssicherheit organisiert und praktiziert werden muss.
</p>

<p>
<b>Arbeitssicherheitsgesetz</b> und <b>Arbeitsschutzgesetz</b> regeln die Pflichten des 
Arbeitgebers und des Arbeitnehmers in allen Bereichen des Arbeitsschutzes.
</p>

<p>
Die <b>Betriebssicherheitsverordnung</b> regelt alle Sicherheitsfragen bei der Nutzung und 
Anwendung von Maschinen und Anlagen.
</p>

<p>
Die <b>Arbeitsstättenverordnung</b> regelt die sichere Gestaltung des Arbeitsplatzes und 
die vom Arbeitgeber einzuhaltenden Arbeitsbedingungen.
</p>

<p>
Die <b>Gefahrstoffverordnung</b> regelt den sicheren Umgang mit Gefahrstoffen.
</p>

<p>
Jeder Vorgesetzte sollte sich vergewissern, ob Hinweise, Belehrungen und Verbote auch 
tatsächlich richtig verstanden wurden und auch befolgt werden.
</p>
</div>

<div class="nav">
    <a href="/unterweisung/5">Weiter</a>
</div>

{% endblock %}
