{% extends "base.html" %}
{% block content %}

<h2>Unterstützende Stellen</h2>

<div class="box">
<b>Fachkraft für Arbeitssicherheit (§ 6 ASiG)</b><br>
Unterstützung des Arbeitgebers in allen Fragen der Arbeitssicherheit einschließlich der 
menschengerechten Gestaltung der Arbeit.
</div>

<div class="box">
<b>Betriebsarzt (§ 3 ASiG)</b><br>
Analoge Aufgabenstellung wie für die Fachkraft für Arbeitssicherheit bezogen auf den 
Gesundheitsschutz am Arbeitsplatz.
</div>

<div class="box">
<b>Sicherheitsbeauftragter (SGB VII / § 20 BGV A1)</b><br>
Unterstützung der Vorgesetzten, Kontrolle von Schutzvorrichtungen, Information an 
Vorgesetzte, Beteiligung bei Sicherheitsbegehungen.
</div>

<div class="box">
<b>Arbeitsschutzausschuss (§ 11 ASiG)</b><br>
Beratung über Anliegen des Arbeitsschutzes und der Unfallverhütung.
</div>

<div class="box">
<b>Berufsgenossenschaft (VBG)</b><br>
Erlässt Unfallverhütungsvorschriften und sorgt nach Arbeitsunfällen für medizinische 
Versorgung und Absicherung.
</div>
<div class="nav">
    <a href="/unterweisung/6">Weiter</a>
</div>
{% endblock %}
