{% extends "base.html" %}
{% block content %}

<h2>Allgemeine Sicherheit</h2>

<div class="box">
Die Sicherheitsanweisungen der Vorgesetzten sowie die Betriebs-, Arbeitsschutz- und 
Unfallverhütungsvorschriften sind zu beachten und zu befolgen.
</div>

<div class="box">
Informiere dich über den nächstgelegenen Feuerlöscher, Erste-Hilfe Kasten sowie sonstige 
Erste-Hilfe Einrichtungen. Probiere deinen Fluchtweg aus. Beachte die Aushänge zur 
Ersten Hilfe und zum Brandschutz.
</div>

<div class="box">
Beachte die Sicherheitszeichen wie z.B. Rauchverbot, Gefahrstellen, Ätzend-Symbole 
oder Schutzbrillenpflicht. Frage nach, wenn du Kennzeichnungen nicht verstehst.
</div>
<div class="nav">
    <a href="/unterweisung/7">Weiter</a>
</div>
{% endblock %}
