{% extends "base.html" %}
{% block content %}

<h2>Erste Hilfe</h2>

<div class="box">
Die Erstversorgung nach einem Unfall übernehmen die im Unternehmen bestellten 
Ersthelfer. Kleinere Verletzungen kannst du in der Regel selbst versorgen.
</div>

<div class="box">
In jedem Fall ist über jede Verletzung der Vorgesetzte zu informieren und immer ein 
Eintrag im Verbandbuch notwendig.
</div>

<div class="box">
Jede Verletzung muss eingetragen werden, da der Eintrag als Beweis für einen 
Arbeitsunfall gilt. Entnommenes Verbandsmaterial ist zu melden.
</div>
<div class="nav">
    <a href="/unterweisung/8">Weiter</a>
</div>
{% endblock %}
