{% extends "base.html" %}
{% block content %}

<h2>Brandfall</h2>

<div class="box">
Halte Flucht- und Rettungswege immer frei. Feuerlöscher müssen jederzeit zugänglich sein. 
Brandschutztüren dürfen nicht blockiert werden.
</div>

<div class="box">
Löschversuche sind nur ohne Eigen- und Fremdgefährdung zu unternehmen. 
CO₂-Löscher sind nur für Maschinenbrände geeignet.
</div>

<h2>Evakuierung</h2>

<div class="box">
Helfe behinderten Mitarbeitern und Personen, die die Durchsage nicht verstanden haben. 
Sichere deinen Arbeitsplatz und begib dich zum Sammelplatz.
</div>

<div class="box">
Der Sammelplatz befindet sich auf dem unteren Parkplatz. Warte dort auf die 
Vollzähligkeitskontrolle.
</div>
<div class="nav">
    <a href="/unterweisung/9">Weiter</a>
</div>
{% endblock %}
