{% extends "base.html" %}
{% block content %}

<h2>Unfallvermeidung</h2>

<div class="box">
Alle Mitarbeiterinnen und Mitarbeiter sind verpflichtet, zur Aufrechterhaltung von 
Sicherheit und Ordnung im Unternehmen beizutragen.
</div>

<div class="box">
Gefahrenquellen sind zu meiden, umgehend zu melden und möglichst zu beseitigen.
</div>

<div class="box">
Schon kleine Ursachen wie herumliegende Kabel oder offene Schubladen können große 
Wirkung haben und zu Unfällen führen.
</div>

<div class="box">
Gefährde keine Kollegen. Weise auf Risiken hin und sei stets aufmerksam. 
Du hast es selbst in der Hand, Unfälle zu vermeiden.
</div>
<div class="nav">
    <a href="/unterweisung/10">Weiter</a>
</div>
{% endblock %}
